<div class="container">
	<h2>Individual Registration</h2>
	<form role="form" method="post" action="/indireg">
		<div class="form-group">
		  <label for="name">Name:</label>
		  <input type="text" class="form-control" name="name" placeholder="Enter name">
		</div>

		<div class="form-group">
		  <label for="email">Email:</label>
		  <input type="email" class="form-control" name="email" placeholder="Enter email">
		</div>
		<div class="form-group">
		  <label for="mobile">Mobile:</label>
		  <input type="number" class="form-control" name="mobile" placeholder="Enter mobile no.">
		</div>
		<div class="form-group">
		  <label for="college">College:</label>
		  <input type="text" class="form-control" name="college" placeholder="Enter college name">
		</div>
		<div class="form-group">
		  <label for="gender">Gender : </label>
		  <div class="radio">
		      <label><input type="radio" name="male">Male</label>
		    </div>
		    <div class="radio">
		      <label><input type="radio" name="female">Female</label>
		    </div>
		</div>
		<button type="submit" class="btn btn-default" name="submit">Submit</button>
	</form>
</div>
