<div class="container">
	<h2>Individual Registration</h2>
	<form role="form" method="post" action="/teamreg">
		<div class="form-group">
		  <label for="count">Number of people in your team</label>
		  <input type="number" class="form-control" name="count" placeholder="Enter number of people">
		</div>
		<button type="submit" class="btn btn-default" name="submit">Submit</button>
	</form>
</div>
