<!DOCTYPE html>
<html lang="en">
<head>
<title>Registration 2016</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h2>Individual Registration</h2>
<form role="form" method="post">

<div class="form-group">
  <label for="count">Number of people in your team</label>
  <input type="number" class="form-control" name="count" placeholder="Enter number of people">
</div>
<div class="form-group">
  <label for="id1">Enter IITH-ID of person 1 : </label>
  <input type="text" class="form-control" name="id1" placeholder="Enter IITH-ID 1">
</div>
<div class="form-group">
  <label for="event">Event Name : </label>
  <input type="text" class="form-control" name="event" placeholder="Enter event name">
</div>

<button type="submit" class="btn btn-default" name="submit">Submit</button>
</form>
</div>
</body>
</html>
