<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Individual Registration Table</h2>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>IITH ID 1</th>
        <th>IITH ID 2</th>
        <th>IITH ID 3</th>
        <th>IITH ID 4</th>
        <th>IITH ID 5</th>
        <th>Event Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>IITHF160001</td>
        <td>IITHF160002</td>
        <td>IITHF160003</td>
        <td>IITHF160004</td>
        <td>IITHF160005</td>
        <td>Loose Your Feet</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
